`include "uvm_macros.svh"
import uvm_pkg::*;
class {{ spec.dut_name }}_sequencer extends uvm_sequencer #({{ spec.dut_name }}_transaction);
  `uvm_component_utils({{ spec.dut_name }}_sequencer)
  function new(string name, uvm_component parent); super.new(name,parent); endfunction
endclass
